{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'channel/images/favicon.png' %}" type="image/x-icon">
    <title>PokiChat-Login Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'channel/css/login.css' %}" />
    <style>
      .icon{
        color:black;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <header>
        <div class="logo-container">
          <a href="{% url "home" %}" style='color:black;text-decoration:none;'><p id="logo">PokiChat</p></a>
        </div>
        <div class="buttons">
          <a href="{% url "login" %}"><button id="login-button" class="btn">Login</button></a>
          <a href="{% url "signup" %}"><button id="signup-button" class="btn">SignUp</button></a>
        </div>
      </header>
      <div class="form-container">
        <p class="login-header">Login Page</p>
        <br />
        {% if messages %} {% for message in messages %}
        <span style="color: red">{{message}}</span><br />
        {% endfor %} {% endif %}
        <form action="" method="post" autocomplete="off">
          {% csrf_token %} {% for error in form.non_field_errors %}
          <p class="form-error">{{ error }}</p>
          {% endfor %} {% for field in form %} {% for error in field.errors %}
          <span style="color: red">{{error}}</span>
          {% endfor %}
          <div>{{field.label_tag}}</div>
          <div>{{field}}</div>
          {% endfor %}
          <div>
            <label for="groupname">Group Name:</label>
          </div>
          <div>
            <input
              type="text"
              name="groupname"
              id="groupname"
              autocomplete="off"
              placeholder="Enter the groupname"
              class="field"
              required
            />
          </div>
          <div style="margin-top:10px;">
            <input type="submit" value="Submit" class='field' />
          </div>
          <p style="font-size:14px;">If you don't have an account: <a href="{% url 'signup' %}" style="text-decoration:none;">SignUp</a></p>
        </form>
      </div>
      <footer>
        <div style='display:flex; gap:20px; height:30px; font-size:20px; cursor: pointer;'>
          <a href="https://www.linkedin.com/in/yash-saxena-1935bb226" target='blank' class="icon"> <i class="fa-brands fa-linkedin"></i></i></a>
          <a href="mailto:yashsaxena210403@gmail.com" class="icon" target='blank'><i class="fa-regular fa-envelope"></i></a>
          <a href="https://github.com/YASHSAXEN" class="icon" target='blank'><i class="fa-brands fa-github"></i></a>
        </div>
        <div style='font-size:15px;'>
          All rights are reserved by Yash Saxena, &copy; copywrite - 2024
        </div>
      </footer>
    </div>
  </body>
</html>
